$lightGreen: #937979;

.app {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    // LOGIN & REGISTER

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
      background-color: $lightGreen;

      h1 {
        font-size: 24px;
        color: #fff;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 250px;
        gap: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        input {
          padding: 12px;
          border: none;
          border-bottom: 1px solid gray;
          font-size: 14px;
        }

        button {
          padding: 12px;
          border: none;
          background-color: #937979;
          cursor: pointer;
          color: white;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: bold;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #815e5e;
          }
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    // NAVBAR

    .navbar {
      background-color: #fff;
      border-bottom: 1px solid #f1f1f1;

      .container {
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          img {
            width: 200px;
          }
        }

        .links {
          display: flex;
          align-items: center;
          gap: 20px;

          h6 {
            font-size: 16px;
            font-weight: 300;
            &:hover {
              color: #937979;

              &:before {
                width: 15px;
              }
            }
          }

          span {
            cursor: pointer;
            position: relative;
            padding-left: 20px;
            transition: color 0.3s ease;

            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 50%;
              width: 10px;
              height: 1px;
              background-color: #937979;
              transform: translateY(-50%);
              transition: width 0.3s ease;
            }

            &:hover {
              color: #937979;

              &:before {
                width: 15px;
              }
            }
          }

          .write {
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;
          

            &:hover {
              color: #937979;
              background-color: white;
              
            }
          }
        }
      }
    }

        //FOOTER

        footer {
          margin-top: 100px;
          padding: 0px 20px;
          background-color: $lightGreen;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 15px;
          img {
            height: 60px;
          }
        }
    
    // HOME

    .home {
      transition: opacity 0.5s ease-in-out;

      &.active {
        opacity: 1;
      }

      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 100px;

        .post {
          display: flex;
          gap: 100px;
          align-items: center;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $lightGreen;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
              border-radius: 5px;
              transition: transform 0.3s ease;

              &:hover {
                transform: scale(1.05);
              }
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
              font-size: 42px;
              font-weight: bold;
            }

            p {
              font-size: 18px;
              line-height: 1.6;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid #937979;
              color: #937979;
              transition: background-color 0.3s ease, color 0.3s ease;

              &:hover {
                border: 1px solid white;
                background-color: $lightGreen;
                color: black;
              }
            }
          }
        }
      }
    }

    // SINGLE POST

    .single {
      display: flex;
      gap: 50px;
      overflow-y: auto;

      .content {
        flex: 6;
        display: flex;
        flex-direction: column;
        gap: 15px;

        img {
          width: 100%;
          height: 330px;
          object-fit: cover;
          border-radius: 5px;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.05);
          }
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          .info {
            display: flex;
            flex-direction: column;
          }

          span, p {
            margin: 0;
            padding: 0;
            font-weight: bold;
          }

          p {
            font-size: 0.9em;
            color: #555;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
        }

        p {
          margin-top: 0;
          text-align: justify;
          line-height: 30px;
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
          font-size: 21px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 5px;
          }

          h2 {
            font-size: 20px;
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: #937979;
            background-color: white;
            border: 1px solid #937979;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
    }

     //WRITE

     .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
        .alert {
          color: green;
          margin-left: 10px;
          font-weight: bold;
        }
        
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex:1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1{
            font-size: 20px;
          }

          .file{
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons{
            display: flex;
            justify-content: space-between;

            :first-child{
              cursor: pointer;
              color: #937979;
              background-color: white;
              border: 1px solid #937979;
              padding: 3px 5px;
            }
            :last-child{
              cursor: pointer;
              color: white;
              background-color: #937979;
              border: 1px solid #937979;
              padding: 3px 5px;
            }
          }

          .cat{
            display: flex;
            align-items: center;
            gap: 2px;
            color: #937979;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .app {
    flex-direction: column;

    .container {
      width: 100%;
      padding: 0 16px;

      // AUTH
      .auth {
        padding: 20px 0;
        form {
          width: 100%;
          max-width: 350px;
          padding: 30px 20px;
        }

        h1 {
          font-size: 20px;
        }
      }

      // NAVBAR
      .navbar {
        .container {
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;

          .logo img {
            width: 150px;
          }

          .links {
            flex-wrap: wrap;
            gap: 10px;

            h6,
            span {
              font-size: 14px;
            }
          }
        }
      }

      // POSTS
      .home {
        .posts {
          margin-top: 30px;
          gap: 60px;

          .post {
            flex-direction: column;
            gap: 20px;

            .img {
              width: 100%;
              height: 200px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .content {
              width: 100%;
              h1 {
                font-size: 26px;
              }
              p {
                font-size: 16px;
              }
              button {
                font-size: 14px;
              }
            }
          }
        }
      }

      // SINGLE POST
      .single {
        flex-direction: column;
        gap: 30px;

        .content,
        .menu {
          width: 100%;
        }

        .content img {
          height: 200px;
        }

        .menu {
          h1 {
            font-size: 18px;
          }

          .post {
            img {
              height: 150px;
            }

            h2 {
              font-size: 18px;
            }
          }
        }
      }

      // ADD / WRITE
      .add {
        flex-direction: column;
        gap: 20px;

        .content {
          input {
            font-size: 14px;
          }

          .editorContainer {
            height: 200px;
          }
        }

        .menu {
          .item {
            font-size: 12px;

            h1 {
              font-size: 18px;
            }

            .buttons {
              flex-direction: column;
              gap: 10px;

              :first-child,
              :last-child {
                width: 100%;
                text-align: center;
              }
            }

            .cat {
              flex-wrap: wrap;
              gap: 6px;
            }
          }
        }
      }

      // FOOTER
      footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        font-size: 14px;

        img {
          height: 40px;
        }
      }
    }
  }
}
